
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    background-size: 100%;
}

.nav {
    width: 65px;
    height: 100%;
    margin: 50px 0 50px 0;
    padding: 40px 0 40px 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 50px 50px 0;
}

li{
    list-style-type: none;
}

.material-symbols-outlined {
    font-size: 60px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: white;
    padding: 15px 0 15px 0;
}

.material-symbols-outlined:hover{
    padding: 10px;
    margin: 5px;
    color: rgb(31, 31, 31);
    border-radius: 50%;
    background-color: white;
    transition: 0.4s;
}

